@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defualt template */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}
/* ..... */

/* Font smoothing across browers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
/* ..... */



body {
  width: 100%;
  min-height: 100vh;
  color: #2E2B2B;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;

  padding: 0 48px;
}


/* To Hide Scrollbar */
html {
  /* overflow-y: scroll;  */
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

html::-webkit-scrollbar {
  display: none; 
}
/* ..... */


/* To hide Number Deafault Slider */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  /* Firefox */
  appearance: textfield;
  -moz-appearance: textfield;
}
/* ...... */

/* for custom scrollbar in dropdown */
.custom-scrollbar {
  max-height: 200px;
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
/* .... */